*{
    background-color: rgb(214, 214, 214);
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.main__form--container{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    margin-top: 10%;
    text-align: center;
}
.envelope{
    width: 10%;
    height: 10%;
    margin: 4%;
}
label{
    margin-top: 2%;
}
input{
    margin: 2%; 
    width: 40%;
    height: 2rem;
    border: none;
    background-color: rgb(241, 241, 241);
}
input[type=submit]{
    cursor: pointer;
}